%button {
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color:  map-get($colors, mainColor);
  border: none;
  border-radius: 5px;
}



* {
  padding: 0;
  margin: 0;

  body {
    width: 1920px;
  }

  .header {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: map-get($colors, mainBgc);
    color: map-get($colors, mainTitleColor);

    .header-wrap {
      padding: 0 0 172px 200px;
      background-image: url($headerBgi);
      background-size: cover;
      border-bottom-right-radius: 785px 272px;


      .landing-logo {
        display: flex;
        width: 50px;
        align-items: center;
        margin-bottom: 70px;
        font-family: $contentFont;

        img {
          margin-top: 28px;
          margin-right: 10px;
        }

        p {
          margin-top: 20px;
          font-size: 24px;
          font-weight: 900;
        }

        span {
          display: block;
          position: relative;
          top: $logoSpanPosY;
          left: $logoSpanPosX;
          font-weight: normal;
          font-size: 11px;
          line-height: 0;
        }
      }

      .header_heading {
        width: 500px;
        margin-bottom: 33px;
        font-size: 70px;
        font-weight: bold;
        line-height: 75px;
        letter-spacing: 1px;
        position: relative;
        z-index: 1;

        &:after {
          content: '';
          display: block;
          height: 50px;
          width: 300px;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: map-get($colors, secondaryColor) ;
          z-index: -1;
        }
      }

      .header_text {
        margin-bottom: 60px;
        white-space: pre-line;
        line-height: 24px;
        letter-spacing: 0.4px;
      }

      div {
        width: 490px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header_button {
          @extend %button;
        }

        .login {
          font-size: 20px;
          color: #ffffff;
        }
      }
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 36px;
    position: relative;
    font-family: 'Hind', sans-serif;;
    background-color: map-get($colors, mainBgc);

    .section_text {
      font-family: $titleFont;
      font-size: 40px;
      font-weight: 600;
      color: map-get($colors, mainTitleColor);
      margin-bottom: 25px;
      position: relative;
      z-index: 1;

      &:after {
        content: '';
        display: block;
        height: 50px;
        width: 182px;
        position: absolute;
        bottom: 7px;
        left: 205px;
        background-color: map-get($colors, secondaryColor);
        z-index: -1;
      }
    }

    .section_card_wrap {
      width: 1117px;
      box-sizing: border-box;
      margin-bottom: 187px;

      .section_card {
        display: grid;
        grid-template-columns: 473px auto;
        margin-bottom: 25px;
        border-radius: 6px;
        background-color: map-get($colors, contentBgc) ;

        .section_card_img {
          border-radius: 6px;
          width: 433px;
          margin: 20px;
        }

        .section_card_right_container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 625px;
          color: map-get($colors, contentColor) ;

          .section_card_heading {
            font-size: 23px;
            font-weight: 600;
            color: #ffffff;
            margin-bottom: 30px;
            margin-top: 20px;
          }

          .section_card_text {
            padding: 0 70px;
            font-family: $contentFont;
            text-align: justify;
          }

          .section_link {
            margin-top: 15px;
            color: map-get($colors, contentColor);
          }
        }
      }
    }

    .section_banner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 1200px;
      box-sizing: border-box;
      padding: 0 160px;
      position: absolute;
      bottom: -73px;
      border-radius: 5px;
      background: linear-gradient(to left, map-get($colors, gradientSecColor), 50%, map-get($colors, mainColor));

      .section_banner_text_wrap {
        padding-top: 23px;
        padding-bottom: 40px;

        .section_banner_heading {
          margin-bottom: 12px;
          font-family: $titleFont;
          font-size: 32px;
          font-weight: 900;
          position: relative;
          z-index: 1;

          &:after {
            content: '';
            display: block;
            height: 50px;
            width: 68px;
            position: absolute;
            bottom: 5px;
            left: 128px;
            background-color: map-get($colors, secondaryColor);
            z-index: -1;
          }
        }

        .section_banner_heading {
          color: map-get($colors, mainTitleColor);
        }

        .section_banner_text {
          color: map-get($colors, contentColor);
        }
      }

      .section_banner_button {
        @extend %button;
      }
    }
  }

  .footer {
    padding: 0 200px;
    background-color: map-get($colors, contentBgc);

    .footer-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 125px 0 40px 0;
      font-family: 'Hind', sans-serif;
      color:  map-get($colors, contentColor);

      .landing-logo {
        display: flex;
        align-items: center;
        font-family: $contentFont;

        img {
          margin-right: 13px;
        }

        p {
          font-size: 24px;
          font-weight: 900;
        }

        span {
          display: block;
          position: relative;
          top: $logoSpanPosY;
          left: $logoSpanPosX;
          font-weight: normal;
          font-size: 11px;
          line-height: 0;
        }
      }

      .footer_text {
        width: 300px;
        line-height: 19px;
        margin-top: 15px;
        letter-spacing: -0.8px;
      }
    }
  }
}




