$headerContentColor: #2C2F3C;
$headerBgi: "../img/m-h-day.jpg";

$contentColor: #C0C3CE;
$contentBgc: #21232E;

$mainColor: #14A0C7;
$secondaryColor: #699900;
$mainBgc: #ffffff;

$gradientSecColor: #2E5CD3;
