$headerBgi: "../img/m-h-night.jpg";

$logoSpanPosY: 5px;
$logoSpanPosX: 3px;

$titleFont: 'Source Sans Pro', sans-serif;
$contentFont: 'Fresca', sans-serif;

$colors: (
        mainTitleColor: #FFF9E4,
        mainColor: #E3AC00,
        secondaryColor: #FF4E33,
        contentColor: #CEC6AE,
        contentBgc: #3B3F50,
        mainBgc: #21232E,
        gradientSecColor: #96324E

);


