* {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
}

.container {
    padding: 0 100px;
}

.text-uppercase {
    text-transform: uppercase;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.nav-section-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 3;
    background: #ffffff;
}

.link {
    text-decoration: none;
}

.logo-link {
    margin-left: 10%;
    font-weight: 900;
    color: #000000;
    letter-spacing: 1px;
}

.nav-menu {
    margin-right: 10%;
}

.nav-menu .link {
    display: inline-block;
    padding: 30px 20px;
    text-transform: capitalize;
    color: #777777;
}

.nav-menu .link:hover {
    color: #bfba55;
}

.nav-menu .link:last-child {
    padding-right: 0;
}

.header-title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 300px 0 270px 0;
    background-image: url("../img/home-bg.jpg");
    background-size: cover;
    position: relative;

}

.header-title-section:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.header-title {
    color: #ffffff;
    margin-bottom: 35px;
    font-size: 62px;
    z-index: 2;
}

.header-subtitle {
    color: #bfba55;
    margin-bottom: 55px;
    z-index: 2;
}

.btn {
    padding: 1.1em 2em;
    color: #777777;
    background: #ffffff;
    cursor: pointer;
    border-radius: 2em;
    z-index: 2;
}

.posts-list-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 50px 40px;
}

.post-wrap {
    max-width: 950px;
    padding: 85px 0 90px 0;
    border-bottom: 1px solid #777777;
}

.post-wrap:last-child {
    border-bottom: none;
}

.post-img {
    width: 100%;
}

.post-content {
    padding: 40px 0;
}

.post-title {
    font-weight: 900;
}

.post-info {
    display: flex;
    align-items: center;
    margin: 20px 0 30px 0;
    color: #777777;
}

.post-info-item {
    margin-right: 15px;
}

.post-author-wrap {
    display: flex;
    align-items: center;
}

.post-author-avatar {
    width: 42px;
    border-radius: 42px;
    margin-right: 10px;
}

.icon-comments {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    fill: #777777;
}

.post-text {
    line-height: 30px;
    color: #777777;
}

.post-btn {
    padding: .8em 1.4em;
    font-weight: bold;
    border: 1px solid #777777;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    background: #000000;
    color: #ffffff;
}

.footer-content-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 950px;
    line-height: 2;
}

.footer-title {
    font-size: 27px;
}

.footer-item {
    display: flex;

    flex-direction: column;
}

.footer-item-epam {
    max-width: 49%;
}

.footer-item-contact {
    margin-right: 30px;
}

.footer-content {
    font-style: normal;
    font-size: 15px;
    color: #5E555E;
    margin: 5px 0 0;
}