/* Todo: your styles go here*/

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    padding: 50px 10px;
    background: linear-gradient(-45deg, #5449b6 0%, #6ba8dc 100%);
    background-size: cover;
    font-family: sans-serif;
}

#root {
    padding: 50px 100px;
}

.wrap {
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid transparent;
}

div[type = 'folder'], div[type = 'file'] {
    display: flex;
    cursor: pointer;
}

.folder {
    flex-direction: column;
}

.icon-folder {
    color: sandybrown;
    margin-right: 10px;
}

.icon-file {
    color: darkblue;
    margin-right: 10px;
}

.active {
    display: flex;
}

.not-active {
    display: none;
    background-color: red;
}