.tm-main-nav, .tm-content-header, section {
    box-shadow: 0 0 10px 0 rgba(61, 55, 61, 0.7);
}

section, .tm-content-box, .text, .blocks, .form-control[name="contact_message"] {
    position: relative;
}

.form-control:focus, .btn:hover, .box-work:nth-child(odd), .tm-nav-item-link:hover {
    background: lightskyblue;
}

.tm-section-description {
    line-height: 30px;
    text-indent: 25px;
}

.tm-nav-item-link:hover {
    color: white;
}

section:before, .blocks:before {
    content: '';
    display: block;
    position: absolute;
    top: -30px;
    left: -30px;
    border: 30px solid transparent;
    border-top: 30px solid lightskyblue;
    transform: rotate(135deg);
}

.tm-banner {
    background: linear-gradient(to left, burlywood, lightskyblue);
}

.tm-banner-inner {
    background: white;
}

.tm-banner-text {
    text-shadow: 5px 5px 3px #333;
    animation-name: slideToCenter;
    animation-duration: 3.5s;
    cubic-bezier(0, 0, 1, 1);
}

@keyframes slideToCenter {
    0% {
        transform: translateX(70%);
    }
    100% {
        transform: translateX(0%);
    }
}

.flex-2-col {
    display: flex;
}

.flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tm-team-img, .tm-team-img img {
    width: 100%;;
}

.box-bg:hover {
    font-style: italic;
    background: lightgrey;
}

.heading h2 {
    text-align: center;
    color: lightskyblue;
}

.heading li {
    list-style-type: lower-alpha;
}

.heading li:hover:before {
    content: '>';
}

.text:after {
    content: 'New';
    color: red;
    font-size: 10px;
    font-weight: bolder;
    position: absolute;
    top: 0;
}


.blocks .tm-team-description-container {
    display: block;
}

.blocks .tm-section-description:last-child {
    letter-spacing: 5px;
    word-spacing: 10px;
    font-style: italic;
}

.box-work {
    padding: 10px;
}

.box-work:nth-child(odd) {
    color: white;
}

.box-work p {
    font-style: italic;
}

.box-work p:first-letter {
    font-weight: bold;
}

.contact-form {
    text-align: right;
}

.form-control {
    border: none;
    border-bottom: 1px solid lightskyblue;
}

.btn:hover {
    border: 1px solid lightskyblue;
}

.form-control[name="contact_message"], .btn {
    border: 1px solid lightskyblue;
    background: url(../img/email-icon.png) no-repeat bottom 10px right 10px;
    background-size: 30px 30px
}

.form-control[name="contact_message"] {
    background: url(../img/email-icon.png) no-repeat bottom 10px right 10px;
    background-size: 30px 30px
}

.form-control[name="contact_message"]:focus {
    background: none;
}

.btn {
    display: inline-block;
    padding: 1em 1.5em;
    background: white;
    color: lightskyblue;
}

@media print {

    .tm-sidebar, .tm-team-img, #about, section:before, .blocks:before, .text:after, .blocks .tm-content-box:last-child, #contact, .img-contact-us, .carousel-indicators {
        display: none;
    }

    .tm-main-content, .padding-medium, .heading, .tm-banner, .carousel, .tm-footer {
        padding: 0;
        margin: 0;
    }

    .heading .padding-medium, .tm-team-description-container, .tm-content-box, .carousel {
        text-align: center;
    }

    .tm-team-description-container {
        max-width: 100%;
    }

    .tm-section-description {
        line-height: normal;
        text-indent: 0;
    }

    .heading ol {
        display: inline-block;
        width: 300px;
        padding-left: 0;
    }

    .heading li {
        list-style: none;
        text-align: right;
    }

    .heading li:nth-child(even) {
        text-align: left;
    }
}

