.tm-main-nav, .tm-content-header, section {
    box-shadow: 0 0 10px 0 rgba(61, 55, 61, 0.7);
}

.tm-nav-item-link:hover {
    background: lightskyblue;
    color: #fff
}

.tm-content-box {
    position: relative;
}

.tm-content-box:nth-child(1):before,
.tm-content-box:nth-child(2):before,
.tm-content-box:nth-child(5):before,
.tm-content-box:nth-child(6):before {
    content: '';
    display: block;
    position: absolute;
    top: -30px;
    left: -30px;
    border: 30px solid transparent;
    border-top: 30px solid lightskyblue;
    transform: rotate(135deg);
}

.tm-banner {
    background: linear-gradient(to left, burlywood, lightskyblue);
}

.tm-banner-inner {
    background: white;
}

.tm-banner-text {
    text-shadow: 5px 5px 3px #333;
}

.flex-2-col {
    display: flex;
}

.flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-indent: 1.5em;
}

.tm-team-img {
    width: 100%;;
}

.tm-team-img > img {
    width: 100%;
}

.box-bg:hover {
    background: lightgrey;
}

.heading > .padding-medium > h2 {
    text-align: center;
    color: lightskyblue;
}

.heading > .padding-medium > ol > li {
    list-style-type: lower-alpha;
}

.heading > .padding-medium > ol > li:hover:before {
    content: '>';
}

.text {
    position: relative;
}

.text:after {
    content: 'New';
    color: red;
    font-size: 10px;
    font-weight: bolder;
    position: absolute;
    top: 0;
}

.blocks {
    position: relative;
}

.blocks:before {
    content: '';
    display: block;
    position: absolute;
    top: -30px;
    left: -30px;
    border: 30px solid transparent;
    border-top: 30px solid lightskyblue;
    transform: rotate(135deg);
}

